<%- include("includes/header.ejs") %>
<main>
  <%- include("includes/flash") %>
  <div class="px-96 py-16">
    <%- include("includes/sharedProfile") %> <% posts.forEach((post) => {%>
    <a
      href="/post/<%= post._id %>"
      class="border block rounded px-3 py-2 my-4 hover:bg-gray-100 cursor-pointer"
    >
      <span class="font-semibold"><%= post.title %></span>
      <span>on <%= post.createdAt.toDateString() %></span>
    </a>
    <% }); %>
  </div>
</main>
<%- include("includes/footer.ejs") %>
