<%- include("includes/header.ejs") %>
<main>
  <div class="px-96 py-16">
    <div class="text-4xl mb-4"><%= profileUsername %></div>
    <div class="flex gap-2 text-blue-400">
      <a href="/profile/<%= profileUsername%>" class="border px-2 py-1"
        >Posts: <%= counts.postCount%></a
      >
      <a href="/profile/<%= profileUsername%>/followers" class="px-2 py-1"
        >Followers: <%= counts.followerCount%></a
      >
      <a href="/profile/<%= profileUsername%>/following" class="px-2 py-1"
        >Following: <%= counts.followingCount%></a
      >
    </div>
    <% posts.forEach((post) => {%>
    <div class="border rounded px-3 py-2 my-4 hover:bg-gray-100 cursor-pointer">
      <span class="font-semibold"><%= post.title %></span>
      <span>on <%= post.createdAt.toDateString() %></span>
    </div>
    <% }); %>
  </div>
</main>
<%- include("includes/footer.ejs") %>
