<%- include("includes/header.ejs") %>

<main>
  <div class="px-96 py-16">
    <div class="flex justify-between">
      <div class="text-4xl"><%= post.title %></div>
      <% if(post.isVisitorOwner){%>
      <div class="flex gap-4 py-2">
        <a href="./<%= post._id %>/edit">Edit</a>
        <a href="./<%= post._id %>/delete">Delete</a>
      </div>
      <% }%>
    </div>
    <div class="text-gray-500 text-sm mb-6">
      <img
        class="h-6 rounded-full inline-block"
        src="<%= post.author.avatar %>"
      />
      Posted by
      <span class="text-blue-500"><%= post.author.username %></span>
      on <%= post.createdAt.toDateString() %>
    </div>
    <div class="text-gray-600"><%= post.body %></div>
  </div>
</main>

<%- include("includes/footer.ejs") %>
